:root {
  --color-primary: #01579B;
  --color-input-bg: rgba(0, 123, 221, 0.05);
  --border-radius-m: 10px;
  --border-radius-l: 20px;
  --box-shadow-l: 0px 5px 30px rgba(0, 0, 0, 0.1);
  --color-secondary: #8F8F8F;
  --color-button-secondary-bg: #E6E6E6;
  --color-disabled: rgba(0, 0, 0, 0.25);
  --color-disabled-bg: rgba(0, 0, 0, 0.04);
}
